@model Progra1_bases.Models.TipoCuenta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TipoCuenta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoMinimo" class="control-label"></label>
                <input asp-for="SaldoMinimo" class="form-control" />
                <span asp-validation-for="SaldoMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MultaIncumplimientoSaldoMinimo" class="control-label"></label>
                <input asp-for="MultaIncumplimientoSaldoMinimo" class="form-control" />
                <span asp-validation-for="MultaIncumplimientoSaldoMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoMensualCargosServico" class="control-label"></label>
                <input asp-for="MontoMensualCargosServico" class="form-control" />
                <span asp-validation-for="MontoMensualCargosServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxRetirosCajeroHumano" class="control-label"></label>
                <input asp-for="MaxRetirosCajeroHumano" class="form-control" />
                <span asp-validation-for="MaxRetirosCajeroHumano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MultaRetiroCajeroHumanoExceso" class="control-label"></label>
                <input asp-for="MultaRetiroCajeroHumanoExceso" class="form-control" />
                <span asp-validation-for="MultaRetiroCajeroHumanoExceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TasaInteres" class="control-label"></label>
                <input asp-for="TasaInteres" class="form-control" />
                <span asp-validation-for="TasaInteres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

