@page
@model Progra1_Bases.Pages.Beneficiarios.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Beneficiario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Beneficiario.FechaDesactivacion" class="control-label"></label>
                <input asp-for="Beneficiario.FechaDesactivacion" class="form-control" />
                <span asp-validation-for="Beneficiario.FechaDesactivacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiario.PorcentajeBeneficio" class="control-label"></label>
                <input asp-for="Beneficiario.PorcentajeBeneficio" class="form-control" />
                <span asp-validation-for="Beneficiario.PorcentajeBeneficio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiario.ParentescoId" class="control-label"></label>
                <input asp-for="Beneficiario.ParentescoId" class="form-control" />
                <span asp-validation-for="Beneficiario.ParentescoId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Beneficiario.Activo" /> @Html.DisplayNameFor(model => model.Beneficiario.Activo)
                </label>
            </div>
            <input type="hidden" asp-for="Beneficiario.ID" />
            <div class="form-group">
                <label asp-for="Beneficiario.Nombre" class="control-label"></label>
                <input asp-for="Beneficiario.Nombre" class="form-control" />
                <span asp-validation-for="Beneficiario.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiario.FechaNacimiento" class="control-label"></label>
                <input asp-for="Beneficiario.FechaNacimiento" class="form-control" />
                <span asp-validation-for="Beneficiario.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiario.Email" class="control-label"></label>
                <input asp-for="Beneficiario.Email" class="form-control" />
                <span asp-validation-for="Beneficiario.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiario.DocId" class="control-label"></label>
                <input asp-for="Beneficiario.DocId" class="form-control" />
                <span asp-validation-for="Beneficiario.DocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficiario.Doc" class="control-label"></label>
                <input asp-for="Beneficiario.Doc" class="form-control" />
                <span asp-validation-for="Beneficiario.Doc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
