@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Dashboard";
}

<h4>Dashboard</h4>
<div class="row">
    <div class="col-md-4">
        <a asp-controller="account" asp-action="AgregarBeneficiario">Agregar beneficiario</a>
        <br /><a asp-controller="account" asp-action="ListarBeneficiarios">Listar beneficiarios</a>
        <br /><a asp-controller="account" asp-action="Logout">Logout</a>
    </div>
</div>