@page
@model Progra1_Bases.Pages.Clientes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente.password" class="control-label"></label>
                <input asp-for="Cliente.password" class="form-control" />
                <span asp-validation-for="Cliente.password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.username" class="control-label"></label>
                <input asp-for="Cliente.username" class="form-control" />
                <span asp-validation-for="Cliente.username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.nombre" class="control-label"></label>
                <input asp-for="Cliente.nombre" class="form-control" />
                <span asp-validation-for="Cliente.nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.fechaNacimiento" class="control-label"></label>
                <input asp-for="Cliente.fechaNacimiento" class="form-control" />
                <span asp-validation-for="Cliente.fechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.email" class="control-label"></label>
                <input asp-for="Cliente.email" class="form-control" />
                <span asp-validation-for="Cliente.email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.docId" class="control-label"></label>
                <select asp-for="Cliente.docId" class ="form-control" asp-items="ViewBag.docId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.doc" class="control-label"></label>
                <input asp-for="Cliente.doc" class="form-control" />
                <span asp-validation-for="Cliente.doc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
