@page
@model Progra1_Bases.Pages.Clientes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cliente.Password" class="control-label"></label>
                <input asp-for="Cliente.Password" class="form-control" />
                <span asp-validation-for="Cliente.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Username" class="control-label"></label>
                <input asp-for="Cliente.Username" class="form-control" />
                <span asp-validation-for="Cliente.Username" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Cliente.ID" />
            <div class="form-group">
                <label asp-for="Cliente.Nombre" class="control-label"></label>
                <input asp-for="Cliente.Nombre" class="form-control" />
                <span asp-validation-for="Cliente.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.FechaNacimiento" class="control-label"></label>
                <input asp-for="Cliente.FechaNacimiento" class="form-control" />
                <span asp-validation-for="Cliente.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Email" class="control-label"></label>
                <input asp-for="Cliente.Email" class="form-control" />
                <span asp-validation-for="Cliente.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.DocId" class="control-label"></label>
                <select asp-for="Cliente.DocId" class="form-control" asp-items="ViewBag.DocId"></select>
                <span asp-validation-for="Cliente.DocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente.Doc" class="control-label"></label>
                <input asp-for="Cliente.Doc" class="form-control" />
                <span asp-validation-for="Cliente.Doc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
