@page
@model Progra1_Bases.Pages.CuentasAhorro.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CuentaAhorro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CuentaAhorro.ID" />
            <div class="form-group">
                <label asp-for="CuentaAhorro.Monto" class="control-label"></label>
                <input asp-for="CuentaAhorro.Monto" class="form-control" />
                <span asp-validation-for="CuentaAhorro.Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaAhorro.FechaApertura" class="control-label"></label>
                <input asp-for="CuentaAhorro.FechaApertura" class="form-control" />
                <span asp-validation-for="CuentaAhorro.FechaApertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaAhorro.MonedaId" class="control-label"></label>
                <select asp-for="CuentaAhorro.MonedaId" class="form-control" asp-items="ViewBag.MonedaId"></select>
                <span asp-validation-for="CuentaAhorro.MonedaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaAhorro.TipoCuentaId" class="control-label"></label>
                <select asp-for="CuentaAhorro.TipoCuentaId" class="form-control" asp-items="ViewBag.TipoCuentaId"></select>
                <span asp-validation-for="CuentaAhorro.TipoCuentaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaAhorro.ClienteId" class="control-label"></label>
                <select asp-for="CuentaAhorro.ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="CuentaAhorro.ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
